@use 'variables' as v;

.text-center{
    text-align: center;
}

.bg-primario{
    background-color: v.$primario;
}

.margin-negativo-10{
    margin-top: -10rem;
}

.bg-white{
    background-color: white;
}