//fuentes

$fuentePrincipal: "Raleway", sans-serif;
$fuentesecundaria: 'Roboto', sans-serif;
$fuenteCursiva: 'Bona Nova', serif;

//medias queries

$telefono:480px;
$tablet:720px;
$desktop:1024px;

//colores
$primario: #5E311E;
$secundario: #C39663;
$negro: rgb(0, 0, 0);
$blanco: white;
$grisClaro: #eceeef;
$cafeClaro: #ebe7de;

//unidades
$separacion:5rem;