//fuentes

$fuente_principal: "Roboto", sans-serif;

//medias queries

$telefono: 480px;
$tablet:720px;
$desktop:1024px;

//colores
$primario: #E8505B;
$secundario: #455A64;
$negro: rgb(0, 0, 0);
$blanco: white;
$grisClaro: #eceeef;

//unidades
$separacion:5rem;