@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos {
    margin-top: 5rem;

    .listado-iconos {

        img{
            margin: 0 auto;
        }

        p {
            font-family: v.$fuenteCursiva;
        }

        @include m.tablet {
            @include m.grid(3, 5rem);
        }
    }

}